@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.header {
  padding: 20px 0;
  height: 110px;
  background: #F58021;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 96px;
  height: 50px;
  left: 260px;
  top: 30px;
}
.nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  width: 556px;
  height: 27px;
  right: 505px;
  top: 42px;
}

.nav-links a {
  text-decoration: none;
  width: 60px;
  height: 27px;
  left: 117.25px;
  top: 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000000;
}
.nav-links a:hover {
  color: #00A092;
}

.nav-social {
  list-style: none;
  display: flex;
  gap: 15px;
  width: 180px;
  height: 42px;
  left: 1480px;
  top: 35px;
}
.nav-social img {
  width: 40px;
  height: 40px;
}

.zoo-sidebar{
  position:fixed;
  left:0;
  top:0;
  height:100vh;
  width:90px;
  background:#20113D;
  display:flex;
  flex-direction:column;
  align-items:center;
  transition:0.3s;
  z-index:1000;
}

.zoo-sidebar.expanded{
  width:220px;
}

.sidebar-top{
  padding:20px 0;
}

.sidebar-toggle{
  background:none;
  border:none;
  color:#fff;
  font-size:22px;
  cursor:pointer;
}

.sidebar-list{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:15px;
  overflow:hidden;
  flex:1;
}

.animal{
  width:60px;
  height:60px;
  border-radius:50%;
  background:#F58021;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}

.animal img{
  width:30px;
}

.scroll-btn{
  background:none;
  border:none;
  color:#fff;
  font-size:18px;
  cursor:pointer;
}
.live-title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  text-transform: uppercase;
  color: #00A092;
}

.live-top{
  display:flex;
  justify-content:center;
  align-items:center;
  margin:54px 0 50px;
}

.live-main img{
  width:100%;
  border-radius:8px;
}

.more-title{
  text-align:center;
  margin: 100px 0 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  color: #000000;
}

.live-cams{
  display:flex;
  align-items:center;
  justify-content:center;
  gap: 40px;
  margin-bottom: 150px;
}

.cam{
  position:relative;
  width:200px;
}

.cam img{
  width:100%;
  border-radius:6px;
}

.cam span{
  position:absolute;
  top:10px;
  left:10px;
  background:#000a;
  color:#fff;
  padding:5px 10px;
  font-size:14px;
}

.cam.active{
  border:3px solid #F58021;
}

.arrow{
  background:none;
  border:none;
  font-size:24px;
  cursor:pointer;
}
.donation {
  width: 1920px;
  height: 221px;
  left: 0px;
  top: 1362px;
  background: #20113D;
  color: white;
  padding: 50px 0;
}
.donation-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.text-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text-content h3 {
  margin: 0;
}

.text-content p {
  margin: 0;
}
.donation h3 {
  width: 707px;
  height: 51px;
  left: 260px;
  top: 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.donation p {
  width: 873px;
  height: 78px;
  left: 261px;
  top: 121px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
}
.donate-form h4 {
  width: 182px;
  height: 34px;
  left: 1340px;
  top: 52px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.donate-input-group {
  position: relative;
  width: 320px;
}
.donate-input-group input {
  width: 100%;
  padding: 20px 70px 20px 20px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: transparent;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.btn-donation {
  position: absolute;
  top: 50%;
  height: 100%;
  right: 0.2%;
  transform: translateY(-50%);
  background: #F58021;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.btn-donation img {
  width: 20px;
}
.did{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1040px;
  height: 269px;
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 150px auto 150px;
  padding:40px;
}

.did-title{
  width: 370px;
  height: 51px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  text-align: center;
  text-transform: uppercase;
  color: #00A092;
  margin-bottom: 20px;
}
.did-text {
  width: 919px;
  height: 102px;
  left: 60px;
  top: 117px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}

.animal-info{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  gap:40px;
  margin-top:60px;
}

.label {
  margin-bottom:10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #000000;
}
.value {
  width: 99px;
  height: 27px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #000000;
}

.info-img{
  width:320px;
  border-radius:8px;
}

.link{
  color:#F58021;
  cursor:pointer;
}

.animal-desc p{
  width: 1160px;
  height: 189px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 150px;
}

.footer {
  padding: 70px 0;
  /* width: 1920px; */
  height: 329px;
  background: #20113D;
}

.footer-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto;
  gap: 30px;
  align-items: center;
}

.footer-logos {
  display: flex;
  gap: 65px;
  align-items: center;
}

.footer-menu {
  display: flex;
  justify-content: center;
  gap: 46px;
}

.footer-menu a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-btn {
  display: flex;
  justify-content: flex-end;
}

.btn-donate {
  padding: 15px 30px;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.footer-line {
  grid-column: 1 / -1;
  height: 1px;
  background: rgba(255,255,255,0.3);
  margin-bottom: 44px;
}

.footer-copy {
  grid-column: 1 / 2;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  gap: 50px;
}

.footer-social {
  grid-column: 3 / 4;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
