@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.header {
  padding: 20px 0;
  height: 110px;
  background: #F58021;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 96px;
  height: 50px;
  left: 260px;
  top: 30px;
}
.nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  width: 556px;
  height: 27px;
  right: 505px;
  top: 42px;
}

.nav-links a {
  text-decoration: none;
  width: 60px;
  height: 27px;
  left: 117.25px;
  top: 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000000;
}
.nav-links a:hover {
  color: #00A092;
}

.nav-social {
  list-style: none;
  display: flex;
  gap: 15px;
  width: 180px;
  height: 42px;
  left: 1480px;
  top: 35px;
}
.nav-social img {
  width: 40px;
  height: 40px;
}

.hero {
  padding: 60px 0;
  background: #fff;

  background-image:
    linear-gradient(106deg, #ffffff 18%, rgba(255,255,255,0.65) 35%, rgba(255,255,255,0) 46%),
    url("../assets/images/landing_page/Background.png");

  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero-text h1 {
  width: 890px;
  height: 280px;
  left: 260px;
  top: 239px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 82px;
  line-height: 100px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #00A092;
}
.hero-text p {
  width: 430px;
  height: 76px;
  left: 260px;
  top: 569px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 40px;
  margin-top: 40px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 26px 45px;
  gap: 10px;
  width: 240px;
  height: 74px;
  left: calc(50% - 240px/2 - 580px);
  top: calc(50% - 74px/2 + 282px);
  background: #F58021;
  border-radius: 5px;
}
.hero-span {
  width: 146px;
  height: 22px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  white-space: nowrap;
}
.btn img {
  width: 24.28px;
  height: 22px;
}

.btn.small {
  padding: 6px 12px;
  font-size: 14px;
}
.btn:hover, .feed-btn:hover {
  background: #D26004;
  box-shadow: 0px 4px 30px rgba(245, 128, 33, 0.3);
}
.zoo-h2{
  width: 523px;
  height: 132px;
  left: 260px;
  top: 68px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  text-transform: uppercase;
  color: #00A092;
  margin-bottom: 40px;
}
.zoo-p{
  width: 560px;
  height: 213px;
  left: 260px;
  top: 250px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
}
.welcome,
.how-we-work {
  display: flex;
  gap: 40px;
  padding: 60px 0;
  align-items: center;
}
.welcome-image{
  width: 800px;
  height: 531px;
  left: 860px;
  top: 0px;
  border-radius: 5px;
}
.how-image{
  width: 800px;
  height: 531px;
  left: 260px;
  top: 681px;
  border-radius: 5px;
}
.donation {
  width: 1920px;
  height: 221px;
  left: 0px;
  top: 1362px;
  background: #20113D;
  color: white;
  padding: 50px 0;
}
.donation-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.text-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text-content h3 {
  margin: 0;
}

.text-content p {
  margin: 0;
}
.donation h3 {
  width: 889px;
  height: 51px;
  left: 260px;
  top: 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-right: 191px;
}
.donation p {
  max-width: 609px;
  height: 50px;
  left: 261px;
  top: 121px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
}
.donate-form h4 {
  width: 182px;
  height: 34px;
  left: 1340px;
  top: 52px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.donate-input-group {
  position: relative;
  width: 320px;
}
.donate-input-group input {
  width: 100%;
  padding: 20px 70px 20px 20px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: transparent;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.btn-donation {
  position: absolute;
  top: 50%;
  height: 100%;
  right: 0.2%;
  transform: translateY(-50%);
  background: #F58021;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.btn-donation img {
  width: 20px;
}

.pets {
  padding: 60px 0;
  text-align: center;
}

.section-title {
  margin-bottom: 50px;
  margin-bottom: 136px;
  height: 66px;
  left: 651px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  text-align: center;
  text-transform: uppercase;
  color: #00A092;
}
.section-description {
  margin-bottom: 100px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
.arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 55px;
}
.arrows img {
  cursor: pointer;
  transition: 0.2s;
}

.arrows img:hover {
  transform: scale(1.1);
}

.pet-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.pet-card {
  background: #2b184a;
  border-radius: 6px;
  overflow: hidden;
  text-align: left;
  color: white;
  transition: 0.3s;
  width: 478px;
}

.pet-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

 .pet-img {
  position: relative;
}

.pet-img img {
  width: 100%;
  display: block;
}

.pet-name {
  padding: 12.3891px 19.1468px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #20113D;
  border-radius: 5px 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  white-space: nowrap;
}
.pet-info {
  padding: 18px;
}

.pet-info h4 {
  margin: 0 0 10px;
  font-size: 18px;
  text-transform: capitalize;
  height: 30px;
  left: 135px;
  right: 134px;
  top: calc(50% - 30px/2 + 107.5px);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}

.pet-info p {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 15px;
  height: 39px;
  left: 44px;
  right: 45px;
  top: calc(50% - 39px/2 + 161px);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}
.btn.small {
  background: transparent;
  border: none;
  color: #F58021;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20.273px;
  line-height: 25px;
  text-transform: uppercase;
}
.btn-span {
  color: #F58021;
  white-space: nowrap;
  width: 165px;
  height: 25px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20.273px;
  line-height: 25px;
  text-transform: uppercase;
}

.btn.small:hover {
  text-decoration: underline;
}

.pay-feed {
  background: #2b184a;
  color: white;
  padding: 100px 0;
}
.pay-title {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.feed-step {
  margin-bottom: 119px;
}
.step-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.step-number {
  color: white;
  font-weight: 600;
  opacity: 0.7;
  margin-right: 20px;
}

.step-line {
  flex: 1;
  height: 1px;
  background: rgba(255,255,255,0.25);
}

.step-body {
  display: flex;
  align-items: center;
  gap: 40px;
}

.step-body-img {
  object-fit: cover;
  border-radius: 6px;
}
.step-icon-img {
  object-fit: cover;
  border-radius: 6px;
}
.step-content {
  max-width: 500px;
}

.step-content h4 {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 381px;
  height: 34px;
  left: 980px;
  top: 502px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  color: #FFFFFF;
}

.step-content p {
  width: 560px;
  height: 251px;
  left: 980px;
  top: 586px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
}

.feed-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 26px 45px;
  gap: 10px;
  width: 240px;
  height: 74px;
  left: calc(50% - 240px/2 + 140px);
  top: calc(50% - 74px/2 + 965.5px);
  background: #F58021;
  border-radius: 5px;

}

.testimonials {
  height: 1200px;
  padding: 60px 0;
  background-image: url("../assets/images/landing_page/panda2.png");
  text-align: center;
  width: 1920px;
  height: 1776px;
}

.testimonials h2 {
  width: 440px;
  height: 120px;
  left: 260px;
  top: 100px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 50px;
  text-align: left;
}

.section-subhead {
  width: 560px;
  height: 143px;
  left: 260px;
  top: 270px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  color: #FFFFFF;
  text-align: left;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 600px;
  margin: auto;
}

.testimonial-card {
  background: #ffffff;
  padding: 1.8rem 1.5rem 1.5rem 1.5rem;
  border-radius: 24px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
  width: 515px;
  height: 463px;
}

.testimonial-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 24px 30px -12px rgba(40, 80, 65, 0.12);
  border-color: #cbdcd0;
}
.card-meta {
  margin-bottom: 20px;
}
.quote-sign span{
  width: 92px;
  height: 96px;
  left: 37px;
  top: 20px;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  line-height: 146px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #00A092;
}
.location {
  width: 306px;
  height: 34px;
  left: 50px;
  top: 136px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  color: #000000;
  text-transform: uppercase;
}

.feedback-text {
  width: 415px;
  height: 162px;
  left: 50px;
  top: 190px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 19px;
}
.client-name {
  width: 111px;
  height: 22px;
  left: 50px;
  top: 371px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #000000;
  white-space: nowrap;
}
.arrows-testimonials {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 55px;
  margin-top: 60px;
}
.arrows-testimonials img {
  width: 60px;
  height: 60px;
  left: calc(50% - 60px/2 - 60px);
  top: calc(50% - 60px/2);
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
}
.arrows-testimonials img {
  cursor: pointer;
  transition: 0.2s;
}
.arrows-testimonials img:hover {
  transform: scale(1.1);
}
.btn-testimonials {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 26px 45px;
  gap: 10px;
  width: 359px;
  height: 74px;
  left: calc(50% - 359px/2 - 519.5px);
  top: calc(50% - 74px/2 + 701px);
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: transparent;
  margin-top: 236px;
}
.btn-testimonials-span {
  width: 170px;
  height: 22px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.btn-testimonials:hover{
  background: #00A092;
  border: 1px solid #FFFFFF;
}
.care {
  padding: 136px 0;
  text-align: center;
}

.section-title.green {
  width: 655px;
  height: 132px;
  left: 633px;
  top: 136px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  text-align: center;
  text-transform: uppercase;
  color: #00A092;
  margin-bottom: 50px;
}

.care-subtitle {
  width: 537px;
  height: 65px;
  left: 692px;
  top: 318px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  color: #20113D;
  margin-bottom: 100px;
}

.care-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
}
.care-big {
  grid-column: 1/3;
}

.care-big img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}

.care-card {
  width: 440px;
  height: 658px;
  left: 1220px;
  top: 1181px;
  background: #20113D;
  border-radius: 5px;
}

.care-card img {
  width: 100%;
  margin-bottom: 30px;
}

.care-info p{
  width: 390px;
  height: 81px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.btn-feed{
  display: flex;
  padding: 26px 45px;
  gap: 10px;
  background-color: transparent;
  border-color: transparent;
}
.btn-feed-span{
  width: 51px;
  height: 22px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #F58021;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.btn-feed img{
  width: 24.28px;
  height: 22px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.care-btn-container{
  display: flex;
  justify-content: center;
}
.care-btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 26px 45px;
  gap: 10px;
  width: 359px;
  height: 74px;
  left: calc(50% - 359px/2 + 0.5px);
  top: calc(50% - 74px/2 + 493.5px);
  border: 1px solid #20113D;
  border-radius: 5px;
  background-color: transparent;
  margin-top: 100px;
  cursor: pointer;
}
.care-btn-span {
  width: 253px;
  height: 22px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #20113D;
  white-space: nowrap;
}
.care-btn:hover{
  background: #20113D;
  border: 1px solid #FFFFFF;
}
.care-btn-span:hover {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.care-video {
  margin-bottom: 150px;
}

.care-video img {
  width: 1400px;
  height: 652px;
  left: 260px;
  top: 2163px;
}

.footer {
  padding: 70px 0;
  /* width: 1920px; */
  height: 329px;
  background: #20113D;
}

.footer-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto;
  gap: 30px;
  align-items: center;
}

.footer-logos {
  display: flex;
  gap: 65px;
  align-items: center;
}

.footer-menu {
  display: flex;
  justify-content: center;
  gap: 46px;
}

.footer-menu a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-btn {
  display: flex;
  justify-content: flex-end;
}

.btn-donate {
  padding: 15px 30px;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.footer-line {
  grid-column: 1 / -1;
  height: 1px;
  background: rgba(255,255,255,0.3);
  margin-bottom: 44px;
}

.footer-copy {
  grid-column: 1 / 2;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  gap: 50px;
}

.footer-social {
  grid-column: 3 / 4;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
