@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.header {
  padding: 20px 0;
  height: 110px;
  background: #F58021;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 96px;
  height: 50px;
  left: 260px;
  top: 30px;
}
.nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  width: 556px;
  height: 27px;
  right: 505px;
  top: 42px;
}

.nav-links a {
  text-decoration: none;
  width: 60px;
  height: 27px;
  left: 117.25px;
  top: 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000000;
}
.nav-links a:hover {
  color: #00A092;
}
.nav-links a.active {
  color: #00A092;
}
.nav-social {
  list-style: none;
  display: flex;
  gap: 15px;
  width: 180px;
  height: 42px;
  left: 1480px;
  top: 35px;
}
.nav-social img {
  width: 40px;
  height: 40px;
}

.map {
  padding: 60px 0;
  text-align: center;
}
.map-wrapper {
  position: relative;
  display: inline-block;
}
.map-img {
  width: 100%;
  display: block;
}
.animal {
  position: absolute;
  width: 100px;
  transform: translate(-50%, -100%);
  filter: drop-shadow(0px 4px 30px rgba(245,128,33,0.7));
}

.a1 { left: 15.7%; top: 62%;}
.a2 { left: 24.3%; top: 61.4%;}
.a3 { left: 44%; top: 66%; }
.a4 { left: 52%; top: 69%; }
.a5 { left: 60%; top: 83%; }
.a6 { left: 75.5%; top: 72%; }
.a7 { left: 85%; top: 84%; }
.a8 { left: 71%; top: 54%; }


.map-title{
  display: flex;
  justify-content: center;
}
.section-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  text-align: center;
  text-transform: uppercase;
  color: #20113D;
  margin-top: 40px;
  margin-bottom: 70px;
  width: 601px;
}
.eagle {
  position: absolute;
  left: 21.77%;
  right: 73.02%;
  top: 42.88%;
  bottom: 48.85%;
  filter: drop-shadow(0px 4px 30px rgba(245, 128, 33, 0.7));
}
.footer {
  padding: 70px 0;
  /* width: 1920px; */
  height: 329px;
  background: #20113D;
}

.footer-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto;
  gap: 30px;
  align-items: center;
}

.footer-logos {
  display: flex;
  gap: 65px;
  align-items: center;
}

.footer-menu {
  display: flex;
  justify-content: center;
  gap: 46px;
}

.footer-menu a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-btn {
  display: flex;
  justify-content: flex-end;
}

.btn-donate {
  padding: 15px 30px;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.footer-line {
  grid-column: 1 / -1;
  height: 1px;
  background: rgba(255,255,255,0.3);
  margin-bottom: 44px;
}

.footer-copy {
  grid-column: 1 / 2;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  gap: 50px;
}

.footer-social {
  grid-column: 3 / 4;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
